@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 8 Fonts 6/9/23 */
@font-face{
    font-family:"pacman";
    src: url("../public/fonts/pac-man-logo/pac-man-logo.ttf")
}

@font-face{
    font-family:"outrun";
    src: url("../public/fonts/outrun_future/outrun_future.otf")
}

@font-face{
    font-family:"brat";
    src: url("../public/fonts/brat/Brat.ttf")
}

@font-face{
    font-family:"commando";
    src: url("../public/fonts/commando/commando.ttf")
}

@font-face{
    font-family:"lazer84";
    src: url("../public/fonts/lazer84/Lazer84.ttf")
}


@font-face{
    font-family:"indelible";
    src: url("../public/fonts/indelible/Indelible.otf")
}

@font-face{
    font-family:"roadrage";
    src: url("../public/fonts/road_rage/Road_Rage.otf")
}

@font-face{
    font-family:"streamster";
    src: url("../public/fonts/streamster/Streamster.ttf")
}

@font-face{
    font-family:"flashback";
    src: url("../public/fonts/flash_back/flashback.ttf")
}

@font-face{
    font-family:"rocket";
    src: url("../public/fonts/rocket-rinder-font/RocketRinder-yV5d.ttf")
}

@font-face{
    font-family:"edit";
    src: url("../public/fonts/edit_undo_line/edunline.ttf")
}

.card{
    @apply relative bg-synth-darkblue rounded-lg overflow-hidden shadow-md
}

.badge{
    @apply absolute  top-0 ml-2 mt-2 text-synth-pink text-5xl font-brat
}

.cardimg{
    @apply w-full object-cover 
}

.cardhover{
    @apply transform hover:scale-125 transition ease-out duration-300 overflow-hidden
}

.cardtitle{
    @apply font-bold text-synth-orange font-rocket tracking-widest
}

.btn{
    @apply rounded-full py-2 px-9  text-3xl  cursor-pointer -tracking-wider
}
.buttonhover{
    @apply transition ease-out duration-500
}
