@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 8 Fonts 6/9/23 */
@font-face{
    font-family:"pacman";
    src: url("../public/fonts/pac-man-logo/pac-man-logo.ttf")
}

@font-face{
    font-family:"outrun";
    src: url("../public/fonts/outrun_future/outrun_future.otf")
}

@font-face{
    font-family:"brat";
    src: url("../public/fonts/brat/Brat.ttf")
}

@font-face{
    font-family:"commando";
    src: url("../public/fonts/commando/commando.ttf")
}

@font-face{
    font-family:"lazer84";
    src: url("../public/fonts/lazer84/Lazer84.ttf")
}


@font-face{
    font-family:"indelible";
    src: url("../public/fonts/indelible/Indelible.otf")
}

@font-face{
    font-family:"roadrage";
    src: url("../public/fonts/road_rage/Road_Rage.otf")
}

@font-face{
    font-family:"streamster";
    src: url("../public/fonts/streamster/Streamster.ttf")
}